In [1]:
import pandas as pd
import numpy as np

import seaborn as sns
from matplotlib import pyplot as plt
%matplotlib inline

In [18]:
df_carprice=pd.read_csv('data.txt')
df_carprice.head(2)

,Make,Model,Year,Engine Fuel Type,Engine HP,Engine Cylinders,Transmission Type,Driven_Wheels,Number of Doors,Market Category,Vehicle Size,Vehicle Style,highway MPG,city mpg,Popularity,MSRP
0,BMW,1 Series M,2011,premium unleaded (required),335.0,6.0,MANUAL,rear wheel drive,2.0,"Factory Tuner,Luxury,High-Performance",Compact,Coupe,26,19,3916,46135
1,BMW,1 Series,2011,premium unleaded (required),300.0,6.0,MANUAL,rear wheel drive,2.0,"Luxury,Performance",Compact,Convertible,28,19,3916,40650

In [3]:
len(df_carprice)

11914

Features
For the rest of the homework, you'll need to use only these columns:

Make,
Model,
Year,
Engine HP,
Engine Cylinders,
Transmission Type,
Vehicle Style,
highway MPG,
city mpg,
MSRP

In [20]:
df_carprice = df_carprice[[
    'Make',
    'Model',
    'Year',
    'Engine HP',
    'Engine Cylinders',
    'Transmission Type',
    'Vehicle Style',
    'highway MPG',
    'city mpg',
    'MSRP'
]]

In [21]:
df_carprice.columns = df_carprice.columns.str.replace(' ', '_').str.lower()

In [9]:
df_carprice.isnull().sum()

make                  0
model                 0
year                  0
engine_hp            69
engine_cylinders     30
transmission_type     0
vehicle_style         0
highway_mpg           0
city_mpg              0
msrp                  0
dtype: int64

In [23]:
df_carprice=df_carprice.fillna(0)

In [12]:
df_carprice.isnull().sum()

make                 0
model                0
year                 0
engine_hp            0
engine_cylinders     0
transmission_type    0
vehicle_style        0
highway_mpg          0
city_mpg             0
msrp                 0
dtype: int64

In [24]:
type(df_carprice)

pandas.core.frame.DataFrame

In [25]:
df_carprice=df_carprice.rename(columns={'msrp':'price'})

## Question 1
What is the most frequent observation (mode) for the column transmission_type?

AUTOMATIC
MANUAL
AUTOMATED_MANUAL
DIRECT_DRIVE

In [26]:
df_carprice.transmission_type.mode()

0    AUTOMATIC
Name: transmission_type, dtype: object

In [27]:
df_carprice.groupby(['transmission_type']).agg({'transmission_type':'count'})

                   transmission_type
transmission_type
AUTOMATED_MANUAL                 626
AUTOMATIC                       8266
DIRECT_DRIVE                      68
MANUAL                          2935
UNKNOWN                           19

#### Q1: Most frequent transmission type is Automatic

## Question 2
Create the correlation matrix for the numerical features of your dataset. In a correlation matrix, you compute the correlation coefficient between every pair of features in the dataset.

What are the two features that have the biggest correlation in this dataset?

engine_hp and year
engine_hp and engine_cylinders
highway_mpg and engine_cylinders
highway_mpg and city_mpg

In [29]:
df_carprice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 10 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   make               11914 non-null  object
 1   model              11914 non-null  object
 2   year               11914 non-null  int64
 3   engine_hp          11914 non-null  float64
 4   engine_cylinders   11914 non-null  float64
 5   transmission_type  11914 non-null  object
 6   vehicle_style      11914 non-null  object
 7   highway_mpg        11914 non-null  int64
 8   city_mpg           11914 non-null  int64
 9   price              11914 non-null  int64
dtypes: float64(2), int64(4), object(4)
memory usage: 930.9+ KB

In [31]:
numerical=['year','engine_hp', 'engine_cylinders', 'highway_mpg','city_mpg','price']

df_carprice[numerical].corrwith(df_carprice.year).abs()

year                1.000000
engine_hp           0.338714
engine_cylinders    0.040708
highway_mpg         0.258240
city_mpg            0.198171
price               0.227590
dtype: float64

In [32]:
df_carprice[numerical].corrwith(df_carprice.engine_hp).abs()

year                0.338714
engine_hp           1.000000
engine_cylinders    0.774851
highway_mpg         0.415707
city_mpg            0.424918
price               0.650095
dtype: float64

In [33]:
df_carprice[numerical].corrwith(df_carprice.engine_cylinders).abs()

year                0.040708
engine_hp           0.774851
engine_cylinders    1.000000
highway_mpg         0.614541
city_mpg            0.587306
price               0.526274
dtype: float64

In [34]:
df_carprice[numerical].corrwith(df_carprice.highway_mpg).abs()

year                0.258240
engine_hp           0.415707
engine_cylinders    0.614541
highway_mpg         1.000000
city_mpg            0.886829
price               0.160043
dtype: float64

In [36]:
df_carprice[numerical].corrwith(df_carprice.city_mpg).abs()

year                0.198171
engine_hp           0.424918
engine_cylinders    0.587306
highway_mpg         0.886829
city_mpg            1.000000
price               0.157676
dtype: float64

In [37]:
df_carprice[numerical].corrwith(df_carprice.price).abs()

year                0.227590
engine_hp           0.650095
engine_cylinders    0.526274
highway_mpg         0.160043
city_mpg            0.157676
price               1.000000
dtype: float64

#### Q2: Biggest correlation is highway_mpg and city_mpg

In [38]:
mean_price=df_carprice.price.mean()
mean_price

40594.737032063116

In [40]:
def above_average(row):
    if row['price'] > mean_price:
        return 1
    else:
        return 0

In [41]:
df_carprice['above_average'] = df_carprice.apply(above_average, axis=1)

In [42]:
df_carprice.head()

,make,model,year,engine_hp,engine_cylinders,transmission_type,vehicle_style,highway_mpg,city_mpg,price,above_average
0,BMW,1 Series M,2011,335.0,6.0,MANUAL,Coupe,26,19,46135,1
1,BMW,1 Series,2011,300.0,6.0,MANUAL,Convertible,28,19,40650,1
2,BMW,1 Series,2011,300.0,6.0,MANUAL,Coupe,28,20,36350,0
3,BMW,1 Series,2011,230.0,6.0,MANUAL,Coupe,28,18,29450,0
4,BMW,1 Series,2011,230.0,6.0,MANUAL,Convertible,28,18,34500,0

In [44]:
from sklearn.model_selection import train_test_split

In [67]:
df_full_train, df_test = train_test_split(df_carprice, test_size=0.2, random_state=47)
df_train, df_val = train_test_split(df_full_train, test_size=0.25, random_state=47)

In [68]:
df_train = df_train.reset_index(drop=True)
df_val = df_val.reset_index(drop=True)
df_test = df_test.reset_index(drop=True)

In [69]:
y_train = df_train.above_average.values
y_val = df_val.above_average.values
y_test = df_test.above_average.values

df_train2=df_train.copy()

del df_train['above_average']
del df_val['above_average']
del df_test['above_average']

del df_train['price']
del df_val['price']
del df_test['price']

## Question 3
Calculate the mutual information score between above_average and other categorical variables in our dataset. Use the training set only.
Round the scores to 2 decimals using round(score, 2).
Which of these variables has the lowest mutual information score?

make
model
transmission_type
vehicle_style

In [61]:
df_carprice.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11914 entries, 0 to 11913
Data columns (total 11 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   make               11914 non-null  object
 1   model              11914 non-null  object
 2   year               11914 non-null  int64
 3   engine_hp          11914 non-null  float64
 4   engine_cylinders   11914 non-null  float64
 5   transmission_type  11914 non-null  object
 6   vehicle_style      11914 non-null  object
 7   highway_mpg        11914 non-null  int64
 8   city_mpg           11914 non-null  int64
 9   price              11914 non-null  int64
 10  above_average      11914 non-null  int64
dtypes: float64(2), int64(5), object(4)
memory usage: 1024.0+ KB

In [62]:
categorical=['make', 'model', 'transmission_type', 'vehicle_style']

In [59]:
from sklearn.metrics import mutual_info_score

In [70]:
def mutual_info_above_average_score(series):
    return mutual_info_score(series, df_train2.above_average)

In [72]:
mi = df_train2[categorical].apply(mutual_info_above_average_score)
round(mi.sort_values(ascending=False),2)

model                0.46
make                 0.24
vehicle_style        0.09
transmission_type    0.02
dtype: float64

#### Q3: the lowest mutual information score is transmission_type

## Question 4
Now let's train a logistic regression.
Remember that we have several categorical variables in the dataset. Include them using one-hot encoding.

Fit the model on the training dataset.
To make sure the results are reproducible across different versions of Scikit-Learn, fit the model with these parameters:
model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
Calculate the accuracy on the validation dataset and round it to 2 decimal digits.
What accuracy did you get?

0.60
0.72
0.84
0.95

In [73]:
from sklearn.feature_extraction import DictVectorizer

In [75]:
categorical=['make', 'model', 'transmission_type', 'vehicle_style']
numerical=['year','engine_hp', 'engine_cylinders', 'highway_mpg','city_mpg']

In [76]:
dv = DictVectorizer(sparse=False)

train_dict = df_train[categorical + numerical].to_dict(orient='records')
X_train = dv.fit_transform(train_dict)

val_dict = df_val[categorical + numerical].to_dict(orient='records')
X_val = dv.transform(val_dict)

In [78]:
train_dict[1]

{'make': 'Volvo',
 'model': 'C30',
 'transmission_type': 'MANUAL',
 'vehicle_style': '2dr Hatchback',
 'year': 2013,
 'engine_hp': 227.0,
 'engine_cylinders': 5.0,
 'highway_mpg': 29,
 'city_mpg': 21}

In [81]:
from sklearn.linear_model import LogisticRegression

In [82]:
model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
model.fit(X_train, y_train)

LogisticRegression(C=10, max_iter=1000, random_state=42, solver='liblinear')

In [84]:
y_pred = model.predict_proba(X_val)[:, 1]

In [86]:
decision = (y_pred >= 0.5)

In [87]:
df_pred = pd.DataFrame()
df_pred['probability'] = y_pred
df_pred['prediction'] = decision.astype(int)
df_pred['actual'] = y_val

In [88]:
df_pred

      probability  prediction  actual
0        0.060901           0       0
1        0.821598           1       1
2        0.000151           0       0
3        0.010014           0       0
4        0.988829           1       1
...           ...         ...     ...
2378     0.136490           0       1
2379     0.168751           0       0
2380     0.015749           0       0
2381     0.002382           0       0
2382     0.147067           0       0

[2383 rows x 3 columns]

In [89]:
df_pred['correct'] = df_pred.prediction == df_pred.actual
round(df_pred.correct.mean(),2)

0.93

#### Q4: Accuracy is 93%

## Question 5
Let's find the least useful feature using the feature elimination technique.
Train a model with all these features (using the same parameters as in Q4).
Now exclude each feature from this set and train a model without it. Record the accuracy for each model.
For each feature, calculate the difference between the original accuracy and the accuracy without the feature.
Which of following feature has the smallest difference?

year
engine_hp
transmission_type
city_mpg
Note: the difference doesn't have to be positive

In [ ]:
categorical=['make', 'model', 'transmission_type', 'vehicle_style']
numerical=['year','engine_hp', 'engine_cylinders', 'highway_mpg','city_mpg']

In [106]:
def test_model(categorical, numerical):
    dv = DictVectorizer(sparse=False)

    train_dict = df_train[categorical + numerical].to_dict(orient='records')
    X_train = dv.fit_transform(train_dict)

    val_dict = df_val[categorical + numerical].to_dict(orient='records')
    X_val = dv.transform(val_dict)

    model = LogisticRegression(solver='liblinear', C=10, max_iter=1000, random_state=42)
    model.fit(X_train, y_train)

    y_pred = model.predict_proba(X_val)[:, 1]
    decision = (y_pred >= 0.5)

    df_pred = pd.DataFrame()
    df_pred['probability'] = y_pred
    df_pred['prediction'] = decision.astype(int)
    df_pred['actual'] = y_val

    df_pred['correct'] = df_pred.prediction == df_pred.actual
    return round(df_pred.correct.mean(),4)

In [107]:
# categorical=['make', 'model', 'transmission_type', 'vehicle_style']
# numerical=['year','engine_hp', 'engine_cylinders', 'highway_mpg','city_mpg']

test_model(['make', 'model', 'transmission_type', 'vehicle_style']
           , ['year', 'engine_hp', 'engine_cylinders', 'highway_mpg','city_mpg'])

0.9341

In [108]:
#Year
test_model(['make', 'model', 'transmission_type', 'vehicle_style']
           , ['engine_hp', 'engine_cylinders', 'highway_mpg','city_mpg'])

0.9534

In [109]:
#engine_hp
test_model(['make', 'model', 'transmission_type', 'vehicle_style']
           , ['year','engine_cylinders', 'highway_mpg','city_mpg'])

0.9052

In [110]:
#transmission_type
test_model(['make', 'model', 'vehicle_style']
           , ['year','engine_hp', 'engine_cylinders', 'highway_mpg','city_mpg'])

0.9513

In [111]:
#city_mpg
test_model(['make', 'model', 'transmission_type', 'vehicle_style']
           , ['year', 'engine_hp', 'engine_cylinders', 'highway_mpg'])

0.9496

#### Q5: city_mpg